{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simplex method</title>
    <link rel="stylesheet" href="{% static 'pie/css/style.css' %}" />
  </head>
  <body>
    <div class="main-page">
      <div class="main">
        <div class="main-container">
          <form name="pie-form" method="post" autocomplete="off" action="calculate/">
              {% csrf_token %}
            <div class="main-table">
              <div class="main-label">
                  <h2>🌭Максимальная прибыль продажи</h2>
                </div>
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <th></th>
                  <th>Пирожок №1</th>
                  <th>Пирожок №2</th>
                  <th>Пирожок №3</th>
                  <th>Пирожок №4</th>
                </tr>
                <tr>
                  <td>Цена товара</td>
                  <td><input type="text" placeholder="грн." value="5" name="price-x1"/></td>
                  <td><input type="text" placeholder="грн." value="2" name="price-x2"/></td>
                  <td><input type="text" placeholder="грн." value="3" name="price-x3"/></td>
                  <td><input type="text" placeholder="грн." value="4" name="price-x4"/></td>
                </tr>
                <tr>
                  <td>Затраты муки</td>
                  <td><input type="text" placeholder="кг." value="5" name="flour-x1"/></td>
                  <td><input type="text" placeholder="кг." value="1" name="flour-x2" /></td>
                  <td><input type="text" placeholder="кг." value="0" name="flour-x3" /></td>
                  <td><input type="text" placeholder="кг." value="2" name="flour-x4" /></td>
                </tr>
                <tr>
                  <td>Затраты молока</td>
                  <td><input type="text" placeholder="л." value="1" name="milk-x1"/></td>
                  <td><input type="text" placeholder="л." value="0" name="milk-x2"/></td>
                  <td><input type="text" placeholder="л." value="2" name="milk-x3"/></td>
                  <td><input type="text" placeholder="л." value="1" name="milk-x4"/></td>
                </tr>
                <tr>
                  <td>Затраты яиц</td>
                  <td><input type="text" placeholder="шт." value="4" name="egg-x1"/></td>
                  <td><input type="text" placeholder="шт." value="2" name="egg-x2"/></td>
                  <td><input type="text" placeholder="шт." value="2" name="egg-x3"/></td>
                  <td><input type="text" placeholder="шт." value="1" name="egg-x4"/></td>
                </tr>
              </table>
            </div>
            <div class="consumption-material">
              <div class="main-label">
              <h2>Расход материалов</h2>
              </div>
              <div class="consumption-material-table">
                  <table cellspacing="0" cellpadding="0">
                      <tr class="consumption-material-header">
                          <th>Мука</th>
                          <th>Молоко</th>
                          <th>Яица</th>
                      </tr>
                      <tr>
                          <td><input type="text" placeholder="кг." value="800" name="max-flour"/></td>
                          <td><input type="text" placeholder="л." value="300" name="max-milk"/></td>
                          <td><input type="text" placeholder="шт." value="150" name="max-egg"/></td>
                      </tr>
                  </table>
              </div>
            </div>
            <div class="limitation-production">
              <div class="main-label">
                  <h2>Ограничение производства</h2>
              </div>
              <div class="limitation-production-table">
                  <table cellspacing="0" cellpadding="0">
                      <tr>
                          <td>
                              <select class="limitation-production-select" name="constraint-1">
                                  <option selected value="0">Кол-во Пирожков №1</option>
                                  <option value="1">Кол-во Пирожков №2</option>
                                  <option value="2">Кол-во Пирожков №3</option>
                                  <option value="3">Кол-во Пирожков №4</option>
                              </select>
                              <select class="limitation-production-select" name="constraint-1-mos">
                                  <option value="upBound"><=</option>
                                  <option selected value="lowBound">>=</option>
                              </select>
                              <input type="text" value="10" name="constraint-1-value">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <select class="limitation-production-select" name="constraint-2">
                                  <option value="0">Кол-во Пирожков №1</option>
                                  <option selected value="1">Кол-во Пирожков №2</option>
                                  <option value="2">Кол-во Пирожков №3</option>
                                  <option value="3">Кол-во Пирожков №4</option>
                              </select>
                              <select class="limitation-production-select" name="constraint-2-mos">
                                  <option value="upBound"><=</option>
                                  <option value="lowBound">>=</option>
                              </select>
                              <input type="text" value="300" name="constraint-2-value">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <select class="limitation-production-select" name="constraint-3">
                                  <option value="0">Кол-во Пирожков №1</option>
                                  <option value="1">Кол-во Пирожков №2</option>
                                  <option selected value="2">Кол-во Пирожков №3</option>
                                  <option value="3">Кол-во Пирожков №4</option>
                              </select>
                              <select class="limitation-production-select" name="constraint-3-mos">
                                  <option value="upBound"><=</option>
                                  <option value="lowBound">>=</option>
                              </select>
                              <input type="text" value="100" name="constraint-3-value">
                          </td>
                      </tr>
                  </table>
              </div>
            </div>
            <div class="submtin-btn-div">
                  <input class="submtin-btn" type="submit" value="Построить план"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
