{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pie/css/style.css' %}">
    <title>Результат вычеслений</title>
</head>
<body>
    <div class="main-result">
        <div class="result-label"><h2>✅Решение</h2></div>
        <div class="result-profit">Найбольшая прибыль: <b>{{max_profit}}</b></div>
        <p>Будет получена при слеующем плане производства</p>
        <p>Кол-во Пирожков №1: <b>{{result_x1}}</b></p>
        <p>Кол-во Пирожков №2: <b>{{result_x2}}</b></p>
        <p>Кол-во Пирожков №3: <b>{{result_x3}}</b></p>
        <p>Кол-во Пирожков №4: <b>{{result_x4}}</b></p>
        <a href="../" class="back-btn">Назад</a>
    </div>
</body>
</html>